@media print {

    .admin-dashbord {
        max-width: none !important;
        margin: 0 !important;
        padding: 0 !important;
        background-color: transparent !important;
    }

    .filter-section {
        display: none !important;
    }


    .navbar-nav-outer {
        display: none !important;
    }

    .admin-dashbord-tittle {
        width: 100%;

    }

    .admin-dashbord-tittle p {

        text-align: center;

    }


    .container-2 {
        overflow-x: visible !important;

    }

    .col-remove {
        display: none !important;
    }

    .container {
        max-width: none !important;
        padding: 0 !important;

    }

    .table {
        border-collapse: collapse !important;
        width: 100%;
    }

    th,
    td {
        border: 1px solid black !important;
        padding: 8px !important;
    }

    .navbar-toggler {
        display: none !important;
    }

    .nav-group {
        position: static !important;


    }


}